@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Semi+Condensed:wght@100&family=Bebas+Neue&family=Bree+Serif&family=Dhurjati&family=Encode+Sans+SC:wght@600&family=Francois+One&family=Kanit:wght@300&family=Kaushan+Script&family=Lato:wght@900&family=Libre+Barcode+128+Text&family=Luckiest+Guy&family=Permanent+Marker&family=Russo+One&family=Secular+One&family=Sedgwick+Ave+Display&family=Staatliches&display=swap');

.ring {
  width: 80vw;
  pointer-events: none;
}

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-box>span {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  position: absolute;
  color: aliceblue;

}

@media (prefers-reduced-motion: no-preference) {
  .ring {
    animation: ring-spin infinite 20s linear;

  }

  .loading-box {
    animation: color-change 2s infinite 500ms;
  }

  .loading-box>span {
    animation: pulse 2s infinite 100ms;
  }
}

@keyframes ring-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  from {
    background-color: #005881;
  }

  to {
    background-color: #003c80;
  }
}

@media only screen and (min-width: 990px) {
  .ring {
    width: 20vw;
    pointer-events: none;
  }

  .loading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}