@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Semi+Condensed:wght@100&family=Bebas+Neue&family=Bree+Serif&family=Dhurjati&family=Encode+Sans+SC:wght@600&family=Francois+One&family=Kanit:wght@300&display=swap');

.App {
  margin: 0;
  font-family: Kanit, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  width: 100%;
  background-color: #212121;
}

.card {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin: 1em auto;
  border-radius: 10px;
  color: white;
}

.card>img {
  width: 100%;
  align-self: center;
}

.contact-form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 3vh;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form>button {
  width: 80%;
  background-color: #323232;
  border-radius: 15px;
  margin: 10px;
  align-self: center;
  color: #14FFEC;
}

.contact-form>button:hover {
  background-color: #14FFEC;
  color: #323232;
}

.copyright-text {
  margin: 10px;
  margin-bottom: 30px;
  font-size: 0.6em;
  text-align: center;
}

.film > iframe {
  margin: 10px;
}

.image-phone>img {
  width: 95%;
  align-self: center;
  border-radius: 15px;
}

.label-input>input {
  margin-top: 10px;
  width: 90%;
}

.label-input>textarea {
  margin-top: 10px;
  width: 90%;
}

.contact-text-box {
  margin-top: 20px;
  width: 90%;
}

.film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.graphics-box {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  z-index: 10;
  top: 0;
  position: absolute;
}

#header-logo {
  width: 20vw;
}

header>.menu>.links>a.link {
  text-decoration: none;
  margin: 10px;
  font-size: 1.5em;
}

header>.menu>.links {
  visibility: hidden;
  display: none;
}

#hide {
  visibility: hidden;
  display: none;
}

#hire-me-btn {
  background-color: #0D7377;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid #185a9d;
  color: rgba(255, 255, 255, 0.883);
  width: 40%;
  margin-left: 5vw;
  font-size: 1.2em;
  font-family: 'kanit';
  animation-duration: 3s;
  animation-name: fadeInHireMe;
  animation-iteration-count: 1;
  margin-bottom: 5vh;
  background-blend-mode: difference;
  padding: 7px;
  align-self: flex-start;
}

#hire-me-btn:hover {
  background: linear-gradient(135deg, hsla(210, 73%, 35%, 0.438), hsla(161, 59%, 54%, 0.5));
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  margin-top: 10px;
}

.icon-box>img {
  width: 15%;
  height: 15%;
  margin: 10px;

}

.image-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #14FFEC;
  font-size: 1.2em;
  width: 100%;
}

.label-input>label {
  text-align: left;
  align-self: flex-start;
  margin-left: 30px;
}

.label-input>textarea {
  width: 90%;
  min-height: 30vh;
  padding: 0;
  margin: 0;
}

.landing {
  filter: contrast(120%);
  background-image: url('https://github.com/MattDizzle/favicon-host/blob/master/matt-dizzle-dev/matt2.jpg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.landing-h1-box {
  margin-top: 30vh;
  width: 90%;
}

.landing-h1 {
  font-size: 3.5em;
  line-height: 0.10;
  /* transition: margin-left 5s, color 2s, transform 2s; */
}

.landing-h1-box>#matt {
  animation-duration: 7s;
  animation-name: slideinMatt;
  animation-iteration-count: 3;
  margin-left: 1vw;
  color: #0D7377;
}

.landing-h1-box>#dizzle {
  animation-duration: 7s;
  animation-name: slideinDizzle;
  animation-iteration-count: 1;
  margin-left: 5%;
  color: white;
}

.landing-h1-box>#dev {
  animation-duration: 7s;
  animation-name: slideinDev;
  animation-iteration-count: 3;
  margin-left: 25%;
  color: #0D7377;
}

main {
  width: 100%;
}

.main-scroll {
  bottom: 90vh;
  right: 10vw;
  width: 100vw;
  position: fixed;
  align-items: center;
  border: solid 2px #0D7377 ;
  border-radius: 50%;
  font-size: 2em;
  color: #0D7377;
  right: 5;
  top:10;
  z-index: 10;
  opacity: 0.6;
  padding: 5px;
}

.nav {
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #0D7377;
  display: flex;
  justify-content: space-around;
  position: fixed;
  height: 10vh;
  align-items: center;
  margin-left: 0;
}

.nav>.icon {
  font-size: 1.4em;
  padding: 0;
  margin: 10px;
}

.nav>.icon:active {
  font-size: 1.4em;
  padding: 0;
  margin: 10px;
}

.nav>a {
  color: white;
  font-size: 1.4em;
}

#phone-link {
  text-decoration: none;
  font-size: 1em;
  align-self: center;
  padding: 10px;
  margin: 5vh;
  border-radius: 15px;
  margin: 10px;
  align-self: center;
  color: #0D7377;
  text-align: center;
}

#phone-link:hover {
  color: #14FFEC;
}

.social-icons>a {
  font-size: 1.0em;
}

.social-icons>a:hover {
  color: rgb(255, 255, 255);
  font-size: 1.0em;
}

.scroll-to-top-icon {
  align-self: flex-end;
  position: absolute;
  top: 0;
}

.site-footer {
  background-color: #323232;
  padding: 45px 10px 20px;
  font-size: 15px;
  color: #0D7377;
  left: 0;
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding-bottom: 100px;
  padding-top: 0%;
}

.site-footer>.icon {
  color: #14FFEC;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site-footer hr {
  border-top-color: #14FFEC;
  opacity: 0.5
}

.site-footer h6 {
  color: #14FFEC;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px
}

.site-footer a {
  color: #14FFEC;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
  text-shadow: -8px -2px 13px #93dffa;
}

.footer-about-me {
  margin-top: 20px;
}

.quick-links {
  margin-top: 20px;
}

.categories {
  margin-top: 20px;
}

.footer-links:active,
.footer-links:focus,
.footer-links:hover {
  color: #3366cc;
  text-decoration: none;
}


.social-icons {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

/* .video-card {
  width: 95%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: #323232;
  display: flex;
  padding: 5px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin: 5px;
  border-radius: 10px;
  color: #14FFEC;
  font-size: 0.8em;
  text-align: center;
} */

/* .video-card>iframe {
  align-self: center;
  width: 100%;
} */

@media (min-height:700px) {
  #hire-me-btn {
    border-radius: 15px;
    width: 50%;
    min-height: 5vh;
    align-self: left;
  }

}

/* Ipad 768x1024 */
@media (min-width:700px) {
  .contact-form>button {
    width: 50%;
    min-height: 5vh;
    background-color: #0D7377;
    border-radius: 15px;
    margin: 10px;
    align-self: center;
    color: #14FFEC;
    font-size: 2em;
  }

  .copyright-text {
    font-size: 1.2em;
    margin-bottom: 40px;
  }

  .film {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  #header-logo {
    width: 15vw;
    margin-top: 10vh;
    margin-left: 7vw;
  }

  #hire-me-btn {
    width: 30%;
    margin-left: 7%;
    font-size: 2em;
  }

  .label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #14FFEC;
    font-size: 2em;
    width: 80%;
  }

  .landing-h1-box {
    margin-top: 50vh;
    width: 100%;
    padding-left: 7vw;
  }
  
  .landing-h1 {
    font-size: 5em;
    line-height: 0.10;
    /* transition: margin-left 5s, color 2s, transform 2s; */
  }

  .landing-h1-box>#dev {
    animation-duration: 7s;
    animation-name: slideinDevIpad;
    animation-iteration-count: 3;
    margin-left: 15%;
  }

  main {
    width: 100%;
  }

  .main-scroll {
    font-size: 4em;
  }

  .nav>a {
    font-size: 2em;
  }

  #phone-link {
    width: 50%;
    font-size: 1.5em;
  }

  .site-footer {
    padding: 80px 10px 20px;
    font-size: 15px;
    color: #14FFEC;
    left: 0;
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    padding-top: 0%;
  }

  .video-card {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #323232;
    display: flex;
    border-radius: 5px;
    /* padding: 10px; */
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
    color: #14FFEC;
    font-size: 1em;
    text-align: center;
  }
}

@media (min-width:1400px) {
  .card {
    flex-direction: row;

  }

  .card>img {
    width: 40%;
  }

  .contact-form {
    width: 50%;
  }

  .contact-form-page {
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
  }

  .contact-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0D7377;
    border-radius: 15px;
    width: 95%;
  }

  .copyright-text {
    font-size: 0.8em;
    text-align: center;
  }

  .image-phone {
    width: 50%;
  }

  .image-phone>img {
    width: 100%;
    align-self: center;
  }

  header {
    bottom: 80vh;
    position: fixed;
  }

  #header-logo {
    width: 8vw;
    margin-top: 2vh;
  }

  header>.menu>.links {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: baseline;
    color: #14FFEC;
  }

  header>.menu>.links>a.link {
    text-decoration: none;
    margin: 10px;
    margin-right: 20px;
    color: #0D7377;
    font-size: 2em;
  }

  header>.menu>.links>a:hover {
    color: #93dffa;
    text-shadow: -8px -2px 13px #14FFEC;
  }

   #hire-me-btn {
    width: 25%;
    align-self: flex-start;
    margin-left: 15vw;
  }

  .landing {
    min-height: 100vh;
    width: 100%;
  }

  .landing-h1-box {
    margin-left: 5vw;
    width: 90%;
  }

  .landing-h1 {
    font-size: 9em;
    margin-top: 0;
    line-height: 4%;
    color: #14FFEC;
    transition: font-size 2s, color 2s, transform 2s;
  }

  .landing-h1-box>#dev {
    animation-duration: 7s;
    animation-name: slideinDevDesk;
    animation-iteration-count: 3;
    margin-left: 20%;
  }

  .landing-h1:hover {
    color: #185b9d;
  }

  main {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .main-scroll {
    visibility: hidden;
    display: none;
  }

  .nav {
    visibility: hidden;
  }

  .reverse {
    flex-direction: row-reverse;
    background-color: #323232;

  }

  .card-text-box {
    margin: 15px;
  }

  .card-text-box>p {
    margin-top: 10px;
    font-size: 1rem;
  }

  .card-text-box>h1 p {
    margin-top: 10px;
    font-size: 3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .film {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
  }

  .site-footer {
    padding-bottom: 40px;
    padding-top: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .footer-about-me .quick-links .categories {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quick-links ul .categories ul {
    width: 30%;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  .footer-about-me-text {
    width: 30vw;
    align-self: center;
  }

  .footer-links {
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    margin: 0;
    padding: 0;
  }

  #phone-link {
    font-size: 2em;
    
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 5px;
    list-style: none
  }

  .social-icons title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }

  .icon::after,
  .icon:focus,
  .icon:hover {
    color: #14FFEC;
    text-shadow: -1px -2px 5px #93dffa;
  }

  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }

  .icon:hover {
    color: #ffffff;
    text-shadow: -1px -2px 5px #93dffa;
  }

  .video-card {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
    margin: 15px;
  }

  .video-card > iframe {
    width: 100%;
  }

}


/* Animations Functions*/
@keyframes slideinMatt {
  from {
    margin-left: 0%;
    opacity: 0;
    filter: blur(5px);
  }

  50% {
    margin-left: 10%;
  }

  to {
    margin-left: 1vw;
    opacity: 1;
    filter: blur(0px);

  }
}

@keyframes slideinDizzle {
  from {
    color: #185a9d;
    margin-left: 0%;
    opacity: 0;
    filter: blur(5px);
  }

  to {
    margin-left: 5%;
    opacity: 1;
    filter: blur(0px);
    color: white;
  }
}

@keyframes slideinDev {
  from {
    margin-left: 0%;
    opacity: 0;
    filter: blur(5px);
  }

  to {
    margin-left: 25%;
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fadeInHireMe {
  from {
    opacity: 0;
    filter: blur(5px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slideinIpad {
  from {
    opacity: 0;
    filter: blur(5px);
    margin-left: 0%;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    margin-left: 15%;
  }
}

@keyframes slideinDevDesk {
  from {
    opacity: 0;
    filter: blur(5px);
    margin-left: 0%;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    margin-left: 20%;
  }
}