@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Semi+Condensed:wght@100&family=Bebas+Neue&family=Bree+Serif&family=Dhurjati&family=Encode+Sans+SC:wght@600&family=Francois+One&family=Kanit:wght@300&family=Kaushan+Script&family=Lato:wght@900&family=Libre+Barcode+128+Text&family=Luckiest+Guy&family=Permanent+Marker&family=Russo+One&family=Secular+One&family=Sedgwick+Ave+Display&family=Staatliches&display=swap');

/* font-family: 'Acme', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Dhurjati', sans-serif;
font-family: 'Encode Sans SC', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Staatliches', cursive; */

.App {
  margin: 0;
  font-family: Kanit, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 0;
  padding-left: 0;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0;
  margin-bottom: 10px;
}

header>img {
  width: 15vw;
}

header>h1 {
  font-size: 1.5em;
  font-family: 'Russo One', 'Libre Barcode 128 Text', cursive;
}

header>.menu>.bar {
  background-color: black;
  border-radius: 20%;
  height: 5px;
  width: 30px;
  margin: 5px;
}

.card {
  background-color: #fd49f4;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}

.nav {
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #494cf3;
  display: flex;
  justify-content: space-around;
  position: fixed;
  height: 10vh;
  align-items: center;
  margin-left: 0;
}

.nav>.icon {
  font-size: 2.2em;
  padding: 0;
  margin: 10px;
}

.site-footer {
  background-color: #0b153d;
  padding: 45px 0 20px;
  font-size: 15px;
  color: #dddbdd;
  left: 0;
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding-bottom: 80px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  /* display: block */
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  /* display: inline-block */
  
}

.site-footer .social-icons {
  font-size: 2em;
  /* text-align: right; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (min-width:400px) {
  .site-footer [class^=col-] {
    margin-bottom: 40px
  }

}

@media (min-width:700px) {}

@media (min-width:1400px) {
  header {
    margin: 20px;
  }

  header > img {
    width: 5vw;
  }

  header > h1 {
    visibility: hidden;
  }

  .nav {
    visibility: hidden;
  }

  .card {
    flex-direction: row;
  }

  .site-footer {
    padding-bottom: 40px;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }


  .social-icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }

  .social-icons li {
    /* display: inline-block; */
    margin-bottom: 4px
  }

  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }

  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
  }

  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
  }

  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }

  .social-icons a.facebook:hover {
    background-color: #3b5998
  }

  .social-icons a.twitter:hover {
    background-color: #00aced
  }

  .social-icons a.linkedin:hover {
    background-color: #007bb6
  }

  .social-icons a.dribbble:hover {
    background-color: #ea4c89
  }
}