@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Semi+Condensed:wght@100&family=Bebas+Neue&family=Bree+Serif&family=Dhurjati&family=Encode+Sans+SC:wght@600&family=Francois+One&family=Kanit:wght@300&family=Kaushan+Script&family=Lato:wght@900&family=Libre+Barcode+128+Text&family=Luckiest+Guy&family=Permanent+Marker&family=Russo+One&family=Secular+One&family=Sedgwick+Ave+Display&family=Staatliches&display=swap');

/* font-family: 'Acme', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Dhurjati', sans-serif;
font-family: 'Encode Sans SC', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Staatliches', cursive; */

/* Animations Functions*/
@keyframes slidein {
  from {
    margin-left: 0;
    display: none;
    opacity: 0;
    filter: blur(4px);
  }

  75% {
    margin-left: 10vw;
    filter: blur(0px);
  }

  to {
    margin-left: 1vw;
    display: flex;
    opacity: 100%;
    filter: blur(0px);

  }
}

@keyframes slidein2 {
  from {
    margin-left: 0;
    display: none;
    opacity: 0;
    filter: blur(4px);
  }

  75% {
    filter: blur(0px);
  }

  to {
    margin-left: 3vw;
    display: flex;
    opacity: 100%;
    filter: blur(0px);

  }
}

@keyframes slidein3 {
  from {
    margin-left: 0;
    display: none;
    opacity: 0;
    filter: blur(4px);
  }

  75% {
    filter: blur(0px);
  }

  to {
    margin-left: 25%;
    display: flex;
    opacity: 100%;
    filter: blur(0px);
  }
}

@keyframes slidein4 {
  from {
    display: none;
    opacity: 0;
    filter: blur(5px);
  }

  75% {
    filter: blur(0px);
  }

  to {
    display: flex;
    opacity: 100%;
    filter: blur(0px);

  }
}
@keyframes slidein5 {
  from {
    display: none;
    opacity: 0;
    filter: blur(5px);
    margin-left: 0%;
  }

  75% {
    filter: blur(0px);
  }

  to {
    display: flex;
    opacity: 100%;
    filter: blur(0px);
    margin-left: 20%;
  }
}

.App {
  margin: 0;
  font-family: Kanit, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 0;
  padding-left: 0;
  width: 100%;
  background-color: white;
}

.card {
  background: linear-gradient(135deg, #185a9d, #43cea2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 10px 12px -8px #dddddd;
  ;
  margin: 1em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
  will-change: transform, opacity;
  border-radius: 10px;
  color: white;
  z-index: 5;
}

.card>img {
  width: 100%;
  align-self: center;
}

.card-text-box {
  margin-top: 20px;
  background: linear-gradient(135deg, #185a9d, #43cea2);
}

.contact-form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.image-phone>img {
  width: 80%;
  align-self: center;
  border-radius: 15px;
}

.label-input>input {
  margin-top: 10px;
  width: 90%;
}

.label-input>textarea {
  margin-top: 10px;
  width: 90%;
}

.contact-text-box {
  margin-top: 20px;
  width: 90%;
}

.graphics-box {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

#header-logo {
  width: 20vw;
  filter: hue-rotate(290deg);
}

header>h1 {
  font-size: 1.5em;
  font-family: 'Russo One', 'Libre Barcode 128 Text', cursive;
  color: #ffffff;
  visibility: hidden;
}

header>.menu>.links>a.link {
  text-decoration: none;
  margin: 10px;
  color: #185a9d;
  font-size: 1.5em;
}

header>.menu>.links {
  visibility: hidden;
  display: none;
}

#hire-me-btn {
  background-color: #E7ECEF;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid #185a9d;
  color: #185a9d;
  width: 40%;
  margin-left: 5vw;
  font-size: 1.2em;
  font-family: 'kanit';
  animation-duration: 3s;
  animation-name: slidein4;
  animation-iteration-count: 1;
  margin-bottom: 5vh;
  background-blend-mode: difference;
  padding: 7px;
  align-self: flex-start;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.icon-box>img {
  width: 20%;
}

.image-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #185a9d;
  font-size: 1.2em;
  width: 100%;
}

.label-input > label {
  text-align: left;
  align-self: flex-start;
  margin-left: 30px;
}

.label-input>textarea {
  width: 90%;
  min-height: 30vh;
  padding: 0;
  margin: 0;
}

.landing {
  background: linear-gradient(135deg, #185a9d, #43cea2);
  background-blend-mode: normal;
  filter: contrast(120%);
  background-image: url('https://github.com/MattDizzle/favicon-host/blob/master/matt-dizzle-dev/matt2.jpg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.landing-h1-box {
  margin-top: 30vh;
  z-index: 2;
}

.landing-h1 {
  font-size: 4em;
  color: white;
  line-height: 7%;
  transition: margin-left 5s font-size 2s, color 2s, transform 2s;
}

.landing-h1-box>#matt {
  animation-duration: 7s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  margin-left: 1vw;
  mix-blend-mode: exclusion;
  color: #185a9d;
}

.landing-h1-box>#dizzle {
  animation-duration: 7s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
  margin-left: 3vw;
  color: white;
  mix-blend-mode: difference;
  filter: invert(20%);
}

.landing-h1-box>#dev {
  animation-duration: 7s;
  animation-name: slidein3;
  animation-iteration-count: infinite;
  margin-left: 25%;
  mix-blend-mode: difference;
  color: #185a9d;
  transition: filer 3s;
}

.landing-h1:hover {
  color: #0058bd;
  font-size: 5em;
  mix-blend-mode: difference;
}

main {
  color: #E7ECEF;
}

.menu-box {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #185a9d;
  display: flex;
  justify-content: space-around;
  position: fixed;
  height: 10vh;
  align-items: center;
  margin-left: 0;
  z-index: 2;
}

.nav>.icon {
  font-size: 1.4em;
  padding: 0;
  margin: 10px;
  color: #dddbdd;
}

.nav>.icon:active {
  font-size: 1.4em;
  padding: 0;
  margin: 10px;
  color: #fffec8;
}

.nav>a {
  color: white;
  font-size: 1.4em;
}

#phone-link {
  text-decoration: none;
  font-size: 1.4em;
  align-self: center;
  padding: 10px;

}

#phone-link:hover {
  color: #238bf3;
}

.social-icons>a {
  font-size: 1.0em;
}

.social-icons>a:hover {
  color: rgb(255, 255, 255);
  font-size: 1.0em;
}

.scroll-to-top-icon {
  align-self: flex-end;
  position: absolute;
  top: 0;
}

.site-footer {
  background: linear-gradient(0deg, #185a9d, #43cea2, #43cea2);
  padding: 45px 10px 20px;
  font-size: 15px;
  color: #003c80;
  left: 0;
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding-bottom: 100px;
  padding-top: 0%;
}

.site-footer>.icon {
  color: #003c80;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site-footer hr {
  border-top-color: #003c80;
  opacity: 0.5
}


.site-footer h6 {
  color: #003c80;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px
}

.site-footer a {
  color: #0058bd;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
  text-shadow: -8px -2px 13px #93dffa;
}

.footer-about-me {
  margin-top: 20px;
}

.quick-links {
  margin-top: 20px;
}

 .categories {
  margin-top: 20px;
}

.footer-links:active,
.footer-links:focus,
.footer-links:hover {
  color: #3366cc;
  text-decoration: none;
}


/* .site-footer  {
  font-size: 1.5em; 
  display: flex;
  width: 100%;
  justify-content: space-around; 
} */

.social-icons {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.copyright-text {
  margin: 0
}

.video-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #185a9d, #43cea2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 10px 12px -8px #dddddd;
  margin: 1em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
  will-change: transform, opacity;
  border-radius: 10px;
  color: white;

}

.video-card>iframe {
  align-self: center;
  min-height: 60%;
}

@media (min-height:700px) {
  #hire-me-btn {
    border-radius: 15px;
    width: 50%;
    min-height: 5vh;
    align-self: left;
  }

}

@media (min-width:700px) {
  header>h1 {
    visibility: visible;
  }
}

@media (min-width:1400px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    flex-direction: row;

  }

  .card>img {
    width: 40%;
  }

  .contact-form {
    width: 50%;
  }

  .contact-form-page {
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .contact-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(135deg, #185a9d, #43cea2);
    border-radius: 15px;
    width: 95%;
  }

  .image-phone {
    width: 50%;
  }

  .image-phone>img {
    width: 100%;
    align-self: center;
  }

  header>.menu>.links {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: baseline;
    color: #dddbdd;
  }

  header>.menu>.links>.link {
    margin-left: 10px;
    margin-right: 10px;
    align-self: baseline;
  }

  header>.menu>.links>a:hover {
    color: #93dffa;
    text-shadow: -8px -2px 13px #93dffa;
  }

  header {
    margin: 0px;
    margin-top: 20px;
  }

  #header-logo {
    width: 5vw;
  }

  header>h1 {
    visibility: hidden;
  }

  #hire-me-btn {
    width: 50%;
    align-self: flex-start;
  }

  .label-input {
    color: white;
  }

  .landing {
    min-height: 100vh;
  }

  .landing-h1-box {
    margin-left: 10vw;
  }

  .landing-h1 {
    font-size: 9em;
    color: white;
    margin-top: 0;
    line-height: 4%;
    color: #0000FF;
    transition: font-size 2s, color 2s, transform 2s;
  }

  .landing-h1-box>#dev {
    animation-duration: 5s;
    animation-name: slidein5;
    animation-iteration-count: 1;
    margin-left: 20%;
    mix-blend-mode: difference;
    color: #185a9d;
  }

  .landing-h1:hover {
    color: #ffffff;
    font-size: 10em;
  }


  .nav {
    visibility: hidden;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .card-text-box {
    margin: 15px;
  }

  .card-text-box>p {
    margin-top: 10px;
    font-size: 1rem;
  }

  .card-text-box>h1p {
    margin-top: 10px;
    font-size: 3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .film {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }

  .site-footer {
    padding-bottom: 40px;
    padding-top: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .footer-about-me .quick-links .categories {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quick-links ul .categories ul {
    width: 30%;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  .footer-about-me-text {
    width: 30vw;
    align-self: center;
  }

  .footer-links {
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    margin: 0;
    padding: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 5px;
    list-style: none
  }

  .social-icons title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }

  .icon::after,
  .icon:focus,
  .icon:hover {
    color: #ffffff;
    text-shadow: -1px -2px 5px #93dffa;
  }

  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }

  .icon:hover {
    color: #ffffff;
    text-shadow: -1px -2px 5px #93dffa;
  }

  .video-card {
    width: 30%;
  }

}